html,
body {
  width: 420px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  padding-left: 0px;
  padding-right: 0px;
  margin: auto;
}

.title-block {
  background-color: #007bff;
  color: white;
  padding-block: 1em;
  border-top: 1px solid #007bff;
  border-bottom: 3px solid orangered;
}

.switch-button {
  appearance: none;
  border: none;
  background: #007bff;
  color: white;
  font-weight: 500;
  padding: 8px;
  font-size: 15px;
}

.switch-button:hover {
  background: #208cff;
}

.switch-button:active {
  background: #3c9aff
}