html,
body {
    width: 420px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    padding-left: 0px;
    padding-right: 0px;
    margin: auto;
}

.title-block{
    background-color: #007bff;
    color: white;
    padding-block: 1em;
    border-top: 1px solid #007bff;
    border-bottom: 3px solid orangered;
}