@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Inter", sans-serif;
    max-width: 100vw;
    scroll-behavior: smooth;
}
body {
    background-color: #1e1e1e;
}

/* CONTAINERS */
.container {
    padding: 64px 32px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
        width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 740px;
        width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1175px;
    }
}

.title {
    font-size: 3.5rem;
    font-weight: 600;
    color: #fff;
    margin-block: 1em;
    width: 100%;
    border-radius: 0.5em;
}

/* WHITELIST */
.whitelist-container {
    background-color: #131313;
    padding: 48px 64px;
    border-radius: 8px;
    margin-block: 1em;
    color: #fff;
    max-width: 50%;
}

.whitelist-container h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.whitelist-container p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2em;
    color: #d9d9d9;
    line-height: 1.5;
}
.whitelist-container .whitelist-form {
    display: flex;
    gap: 24px;
}
.whitelist-form input {
    transition: all 0.2s ease;
    border: 2px solid #565656;
    padding: 0.75em;
    width: 60%;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    background-color: #1e1e1e;
    border-radius: 4px;
    color: #fff;
}

.whitelist-form input:focus,
.whitelist-form input:active,
.whitelist-form input:focus-visible {
    transition: all 0.2s ease;
    border-color: #9f9f9f;
    outline: none;
}

.whitelist-form button {
    transition: all .15s ease;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    border-radius: 4px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    color: #000;
    cursor: pointer;
}

.whitelist-form button:hover,
.whitelist-form button:focus-visible {
    transition: all 0.15s ease;
    background-color: #BC2037;
    color: #fff;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #1e1e1e;
    border-radius: 20px;
    margin: 42px 0;
    display: none;
}

.whitelisted-title {
    font-size: 2rem;
    font-weight: 600;
    margin-block: 1em;
}

.whitelist-ent-del-btn {
    padding: 5px 9px;
    font-weight: 600;
    cursor: pointer;
    background-color: #1e1e1e;
    color: #BC2037;
    border: 1px solid #f0f6fc1a;
    border-radius: 4px;
    transition: all 0.15s ease;
    margin-left: 1em;
}

.whitelist-ent-del-btn:hover {
    background-color: #BC2037;
    border-color: #ff7b72;
    color: #fff;
}

.whitelist-ent-del-btn>img {
    position: relative;
    top: -0.05em;
    height: 7px;
    width: 7px;
}

#WhiteList_Erase_Button {
    display: none;
    padding: 0.5em 1em;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: #1e1e1e;
    color: #BC2037;
    border: 1px solid #f0f6fc1a;
    border-radius: 4px;
    transition: all 0.15s ease;
}

#WhiteList_Erase_Button:hover {
    background-color: #BC2037;
    border-color: #ff7b72;
    color: #fff;
}

#whiteList_domains_table {
    display: none;
    margin-block: 1.5em;
    min-width: 100%;
}

#whiteList_domains td {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 6px 0;
}
